html {height:100%; margin: 0 0 0 0;padding: 0 0 0 0;}
body { height: 100%; margin: 0 0 0 0; padding: 1 1 1 1; overflow:hidden;}
label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
h1 { font-size: 1.2em; margin: .6em 0; }
table { table-layout: fixed; }
table th, table td { overflow: hidden; }
input.input-narrow[type="text"] {
   height: 15px;
   line-height: 15px;
   margin-bottom: 0px;
}
div#users-contain { width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }

#container {
    margin-left:5px;
    height:100%;
    height: -webkit-calc(100% - 55px); /* 55 px is the height of the Header */
    height: -moz-calc(100% - 55px);
    height: calc(100% - 55px);
    border:1px solid gray
}
#firstContainer { height:80%;margin: 0px 0px 0px 8px;}
#sideControl { width:200; float:right; margin: 0px 10px 0px 8px; }
.printBlockUnit {display:inline; float:left }
.printlabel { display:inline; float: left; margin:0px 5px 0px 2px;}
.printcheck { display:inline; float: left; }
.printcheckForOptionRecord { display:inline; float: left}
.printBlockHeader { clear:both; margin: 0px 0px 0px 0px;}
.printBlockDiv {clear:left; display:block; margin: 10px 0px 0px 10px;}
#printBody h4 {padding: 0px 0px 10px 0px}
#printContainer{ position: absolute; top: 0; left: 0; }
.printBlockOverlay {background-color: blue; font-size: 300%; color: red; top:330px; left: 10px;position:absolute; font-family: arial; font-weight: bold;}
.sideControlHeader {margin: 15px 0px 3px 3px; border-bottom: solid thin;}
.textboxLabel {float: left; width:60px;text-align:right;padding-top: 5px; padding-right: 5px}
.coverageTable {display:inline; float:left;margin: 0px 10px 0px 0px}
.coverageTable tr {margin: 0px 0px 0px 0px }
.coverageTable td {display:block;border: 1px solid;font-weight: bold;font-size: 110%;text-align: center; padding:5px 5px 3px 5px;margin: 2px 0px 0px 0px;width:70px;height:15px;}
.coverageTable tbody {margin: 0px 0px 0px 0px}
.coverageTable thead {display:none}
.coverageDiv {  margin: 50px 50px 0px 50px}